<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sms.transfer.station.mapper.TMdSmsRecordMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, phone, message_content, message_sign, journal_id, send_time, success, del_flag, create_by, create_time, update_by, update_time, other1, other2, other3, other4, other5
    </sql>

</mapper>
